#kozepso
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#fo
{
	float: left;
        box-shadow: 2px 2px grey;
	width: 65%;
	display: block;
	margin-left: 3%;
        margin-bottom: 10px;
	background-color: rgb(128, 128, 255);
	text-align: center;
        border-radius: 5px;
}
#jobb
{
	float: right;
}
#bal
{
	float: left;
}
#fomenu
{
	margin-bottom: -35px;
}
#body
{
	min-height: 100%;
	position: relative;
}
#elvalaszto {
	background:url(/img/allando/elvalaszto.png) no-repeat top center;
	height:42px;
	border:none !important;
}
#udvozles{
	margin-bottom: 300px;
	text-align: justify;
}
#napi_ige_ige{
        font-style: italic;
}
#napi_ige_hely{
        font-style: italic;
        text-align: right;
}

#udvozles img{
        margin-right: 10px;
}

#templom_imadsag{
	text-align: center;
}
#uj{
	color: red;
	font-size: large;
}
#uj>a{
	color: blue;
}
a:visited{
	color:blue;
}
#uj_dolgok{
        background-color: white;
        border-radius: 10px;
        padding: 10px;
}

.uj_kartya{
        display: inline-block; 
        padding: 1em; 
        margin: 0.5em;
        background-color: rgb(106, 255, 180);
        border-radius: 5px;
        box-shadow: 1px 1px grey;
        text-decoration: none;
        color: black;
}

.uj_kartya:active{
        box-shadow: -1px -1px grey;
}

.uj_kartya:hover{
        text-decoration: underline;
}

.uj_kartya:visited{
        color: black;
}

#galeria_album_cim
{
	background-color: white; !important
	color: black; !important
	padding: 8px 50px; !important
}

html
{
        background-color: rgb(255, 200, 130);
	background: url("/img/allando/hatter.jpg") no-repeat center center fixed;
	background-size: cover;
}
h1
{
	font-size: 2.2em;
	margin-bottom: 0px;
	text-align: center;
}
.oldalso
{
	background-color: rgb(255, 138, 110);
        box-shadow: 1px 1px grey;
	border-radius: 20px;
	width: 13%;
	margin-top: 100px;
	padding: 10px;
}
.content
{
	background-color: white;
	text-align: left;
	padding: 20px;
	min-height: 50vh;
        max-height: 80vh;
	margin: 0 auto;
	overflow: auto;
}
.content table, td
{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}
footer
{
	width: 100%;
	height: 20px;
	background-color: rgb(255, 190, 161);
        border-radius: 0px 0px 5px 5px;
        padding-top: 5px;
        font-size: 85%;
}
a:hover
{
	color: blue;
}
.belso_link{
    white-space: nowrap;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-bottom: 20px;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.lista{
    list-style-type: none;
}


/* slideshow */

#slideshow_container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

#prev_slide, #next_slide {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 100px);
  width: auto;
  padding: 100px 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next_slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev_slide:hover, #next_slide:hover {
  background-color: rgba(0,0,0,0.8);
}

#slide_number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

